@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

body.dark-theme{
   
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

.nav_btns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.theme-button{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    margin-right: var(--mb-1);
}
.theme-button:hover{
    color: var(--first-color);
}
    
    
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-bottom: var(--header-height);
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: var(--first-color);
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--body-color);
        flex-direction: column;
        gap: 1.5rem;
        padding: 3rem 1.5rem;
        transition: 0.3s;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    }
    .nav_menu.show-menu {
        bottom: 0;
    }
}

.nav_list {
    display: grid;
    grid-template-columns: repeat(6, 5fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav_close:hover{
    color: var(--first-color-alt);
}
.show_menu{
    bottom: 0;
}

.active-link{
    color: var(--first-color);
}

.scroll-header{
    background-color: var(--first-color-second);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}


.home_container{
    gap: 1rem;
}

.home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;

}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home_social-icon:hover{
    columns: var(--first-color-alt);
}

.home_blob{
    width: 200px;
    fill: var(--first-color);
}
.home_blob-img{
    width: 170px;
}

.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}
.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
    margin-bottom: var(--mb-2);

}

/* .home_scroll{
    display: none;
} */
.home_scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home_scroll-button:hover{
    transform: translate(.25rem);
}
.home-scroll-mouse{
    font-size: 3rem;
}
.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
.home_scroll-arrow{
    font-size: 1.25rem;
} 

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}  
.button-flex{
    display: inline-flex;
    align-items: center;
}
.button-small{
    padding: .75rem 1rem;
}
 .button-link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}   
.button-link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}
    


.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home_social-icon:hover{
    columns: var(--first-color-alt);
}

.home_blob{
    width: 200px;
    fill: var(--first-color);
}
.home_blob-img{
    width: 170px;
}

.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}
.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
    margin-bottom: var(--mb-2);
}

.about_img{
    width: 200px;
    border-radius: 50%;
    justify-self: center;
    align-items: center;
}

.about_description{
    margin-bottom: var(--mb-2-5);
    align-items: center;
    justify-content: center;
}
.about_buttons{
    display: flex;
    gap: 1.5rem;
    margin-top: var(--mb-2);
}

.skills_content{
    display: grid;
    gap: 1.5rem;
}
.skills_container{
    grid-template-columns: repeat(2, 1fr);
}
.skills_header{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: var(--mb-2-5);
    grid-column: 1/-1;
    cursor: pointer;
}
.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: var(--first-color);
}
.skills_icon{
    margin-right: var(--mb-0-75);
}
.skills_arrow{
    transition: .3s;
}
.skills_header:hover .skills_arrow{
    transform: rotate(180deg);
}
.skills_title{
    font-size: var(--h2-font-size);
    
}
.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills_arrow{
    margin-left: auto;
    transition: .4s;
}
.skills_titles{
    display: flex;
    justify-content: space-between;

    gap: 1.5rem;
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills_bar{
    background-color: var(--first-color-lighter);
}
.skills_percentage{
    background-color: var(--first-color);
    display: block;
}
.skills_html{
    width: 90%;
}
.skills_css{
    width: 80%;
}
.skills_js{
    width: 90%;
}
.skills_react{
    width: 60%;
}
.skills_node{
    width: 80%;
}
.skills_express{
    width: 80%;
}
.skills_next{
    width: 20%;
}
.skills_mongo{
    width: 80%;
}
.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skills_open .skills_arrow{
    transform: rotate(-180deg);
}
.qualification_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--mb-2);
}
.qualification_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
   cursor: pointer;
}
.qualification_button:hover{
    color: var(--first-color);
}
.qualification_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}
.qualification_data{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1.5rem;
}
.qualification_title{
    font-size: var(--normal-font-size-font-size);
    font-weight: var(--font-medium);
}
.qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualification_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.qualification_rounder{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
    margin-right: var(--mb-0-25);
}
.qualification_line{
    width: 2px;
    height: 100%;
    background-color: var(--first-color);
    transform: translateX(-6px);
}
.qualification [data-content]{
    display: none;
}
.qualification_active[data-content]{
    display: block;
}
.qualification_active .qualification_button{
    color: var(--first-color);
}
.services_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2 1fr);
}
.services_content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}
.services_content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}
.services_icon{
    display: block;
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.services_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.services_button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
.services_button:hover{
    color: var(--first-color);
}
.services_button:hover .services_icon{
    transform: translateX(.30rem);
    color: var(--first-color);
}
.portfolio_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}
.portfolio_container{
    overflow: initial;
}  
.portfolio_content{
    padding: 1.5rem;
}
.portfolio_img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}
.portfolio_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5) 0;
}
.portfolio_description{
    margin-bottom: var(--mb-0-75);
}
.portfolio_button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
.portfolio_button:hover{
    transform: translateX(.25rem);
}
.contact_container{
    row-gap: 3rem;
   
}
.contact_information{
    display: flex;
    margin-bottom: var(--mb-2);
    gap: 1.5rem;
}
.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}
.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}
.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact_content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}
.contact_label{
    font-size: var(--small-font-size);
    color: var(--title-color);
}
.contact_input{
    width: 100%;
    padding: .25rem .5rem .5rem 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    border: 1px solid var(--input-color);
    background-color: var(--input-color);
    color: var(--text-color);
}
.footer{
    padding-top: 2rem;
}
.footer_container{
    row-gap: 3.5rem;
}
.footer_bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
    border-radius: 1rem;
}
.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
    display: flex;
    align-items: center;
    justify-content: left;
}
.footer_subtitle{
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_title, 
.footer_subtitle {
    text-align: left;
    justify-content: flex-start; 
}
    
.footer_description{
    margin-bottom: var(--mb-1-5);
    
}
.footer_links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    
}
.footer_links:hover{
    color: var(--first-color-lighter);
}
.footer_socials{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}
.footer_socials:hover{
    color: var(--first-color-lighter);
}
.footer_copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
}
   
.footer_copy:hover{
    color: var(--first-color-lighter);
}
.footer_scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: var(--mb-2);
}
.footer_scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.footer_scroll-button:hover{
    transform: translate(.25rem);
}
.footer_title,
.footer_subtitle,
.footer_description,
.footer_links,
.footer_socials{
    color: #fff;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    z-index: var(--z-tooltip);
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--first-color-alt);
} 
.scrollup-icon{
    font-size: 1.5rem;
    color: #fff;
} 
.show-scroll{
    bottom: 5rem;
}
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}
    
@media  screen and (max-width: 350px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav_menu{
        padding: 2rem .25rem 4rem;
    }
    .nav_grid{
        column-gap: 0;
    }
    .home_content{
        grid-template-columns: .25fr 3fr;
    }
    .home_blob{
        width: 150px;
    }
    .home_blob-img{
        width: 120px;
    }
    .skills_titles{
        font-size: var(--normal-font-size);
    }
    .qualification_data{
        gap: .5rem;
    }
    .services_container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services_content{
        padding-right: 3.5rem;
    }
} 


@media screen and (min-width:568px){
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home_data{
        grid-column: 1/3;
        
    }
    .home_img{
        width: 200px;
        justify-self: center;
    }
    .about_container,
    .skills_container,
    .portfolio_content,
    .contact_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification_sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}  
     
 
@media screen and (min-width:768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section_subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer_container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem); 
        column-gap: 1rem;
    }
    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }
    .nav_list{
        display: flex;
        column-gap: 2rem;
    }
    .nav_menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    .home_container{
        row-gap: 5rem;
    }
    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home_data{
        grid-column:6rem;
        margin-left: auto;
    }
    .home_blob{
        width: 270px;
    }
    .home_scroll{
        display: block;
    }
    .about_container{
        column-gap: 5rem;
    }
    .about_img{
        width: 250px;
    }
    .about_description{
        text-align: initial;
    }
    .about_info{
        justify-content: space-between;
    }
    .about_buttons{
        justify-content: initial;
    }
    .qualification_tabs{
        justify-content: center;
    }
    .qualification_button{
        margin: 0 var(--mb-1);
    }
    .qualification_sections{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .services_container{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .services_icon{
        font-size: 2rem;
    }
    .services_content{
        padding: 6rem 0 2rem 2.5rem;
    }
    .portfolio_img{
        width: 320px;
    }
    .portfolio_content{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
    .footer_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer_links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer_socials{
        justify-content: flex-end;
    }
}

@media  screen and (min-width:1024px) {
    .header,
    .main,
    .footer_container{
        padding: 0 2rem;
    }
    .home_blob{
        width: 320px;
    }
    .home_social{
        transform: translateX(-6rem);
    }
    .services_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio_content{
        column-gap: 15rem;
    }
    .contact_form{
        width: 460px;
    }
    .contact_inputs{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


    

        
        
   


    


    
    
    


    
    
   
  



    
    